body{
    box-sizing: border-box;
    margin: 0;
    background-color: #262E34;
}

.hero-section{
    height: 100vh;
    /* padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px; */
}

.hero-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.portrait-frame{
    position: relative;
    height: 800px;
    width: 600px;
}

.portrait-bg-image{
    position: absolute;
    top: 25%;
    width: 90%;
    height: 80%;
    transform: rotate(-10deg);
    z-index: 1;
}

.person-image{
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translateX(-55%);
   filter: drop-shadow(0 10px 25px rgba(0,0,0,0.25));
   width: 85%;
   z-index: 2;
}

.person-image:hover + .portrait-bg-image{
    transform: rotate(0deg);
}

nav{
    height: 100px;
    background-color: #89BCD9;
}