html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    background-color: #262E34;
}

.hero-section{
    height: calc(100vh - 100px);
    /* padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px; */
    max-width: 1990px;
    margin: 0 auto;
}

.hero-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 32px; */
}

.portrait-frame{
    position: relative;
    height: 100%;
    width: 50%;
    padding-left: 32px;
}

.portrait-bg-image{
    position: absolute;
    /* top: 25%; */
    bottom: -6%;
    width: 90%;
    /* height: 80%; */
    transform: rotate(-10deg);
    opacity: 1;
    z-index: 1;
}

.person-image{
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translateX(-55%);
   filter: drop-shadow(0 10px 25px rgba(0,0,0,0.25));
   width: 100%;
   z-index: 2;
}

.person-image:hover + .portrait-bg-image{
    transform: rotate(0deg);
    opacity: 0.9;
}

.main-indication-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 32px;
}

.logo-main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo{
    width: 52px;
    height: 32px;
}

.main-name{
    font-family: 'MyAnta';
    font-size: 16px;
    color: #F8F5EC;
    font-weight: 400;
}

.job-name{
    font-family: 'MyJosefin';
    font-size: 16px;
    font-weight: 300;
    color: #89BCD9;
}

.main-link-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-icons{
    width: 30px;
    height: 30px;
}

.link-icons:hover{
    cursor: pointer;
}

.logo-container{
    position: relative;
}

.logo-main-frame{
    display: flex;
    justify-content: center;
}

.main-link-frame{
    position: absolute;
    right: 0px;
    bottom: 0;
}

.person-description-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.name-text{
    font-family: 'MyAnta';
    font-size: 80px;
    color: #F8F5EC;
    font-weight: 400;
    white-space: nowrap;
}

.job-text{
    font-family: 'MyJosefin';
    font-size: 40px;
    color: #F8F5EC;
    font-weight: 400;
}

.arrow-down-frame{
    display: flex;
    justify-content: center;
}

.arrow-down-btn{
    padding-top: 150px;
    padding-bottom: 32px;
}

#arrow_down_btn{
    cursor: pointer;
}

footer{
    height: 200px;
    width: 100%;
    background-color: #89BCD9;
    font-family: 'MyJosefin';
    font-size: 18px;
    font-weight: 400;
    color: #262E34;
    display: flex;
    align-items: center;
}

.footer-frame{
    width: 100%;
    max-width: 1990px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 32px;
}

.footer-left-side{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-link-container{
    display: flex;
    justify-content: start;
}

.impressum-link{
    text-decoration: none;
    color: #262E34;
}

.impressum-link:hover{
    cursor: pointer;
    color: #F8F5EC;
}

.footer-right-side{
    display: flex;
    gap: 16px;
}

.footer-right-side img{
    height: 30px;
    width: 30px;
}

.footer-right-side img:hover{
    cursor: pointer;
}

.portrait-frame-mobile{
    display: none;
}

.header-mobile{
    display: none;
}

.header-frame{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portrait-mobile-container{
    height: 370px;
    position: relative;
}

.person-image-mobile{
    height: 350px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.portrait-bg-mobile{
    height: 250px;
    width: auto;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.burger-menu:hover{
    cursor: pointer;
}

.nav-mobile{
    background-image: url(./assets/icons/mobile/shape_overlay_mobile.svg);
    height: 300px;
    width: 280px;
    background-repeat: no-repeat;  
    background-size: contain;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;  
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1550px){
    .hero-content{
        align-items: end;
    }
}

@media(max-width:1400px){
    .name-text{
        font-size: 50px;
    }

    .job-text{
        font-size: 24px;
    }
}

@media(max-height:1025px){
    .person-image{
        width: 90%;
        transform: translateX(-58%);
    }

    .portrait-bg-image{
        width: 80%;
    }

    .hero-content{
        align-items: end;
    }

    .arrow-down-btn{
        padding-top: 100px;
    }
}

@media(max-width:1000px){
    .hero-section{
        height: unset;
        padding: 0 16px;
    }

    .hero-container{
        height: unset;
    }

    .hero-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .portrait-frame{
        display: none;
    }

    .portrait-frame-mobile{
        display: block;
        width: 100%;
    }

    .logo-container{
        display: none;
    }

    .name-text{
        font-size: 48px;
    }

    .arrow-down-btn{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-mobile{
        display: block;
    }

    .main-name{
        font-size: 14px;
    }

    .job-name{
        font-size: 14px;
    }

    .main-indication-container{
        padding-right: 0;
    }
}

@media(max-width:550px){
    .name-text{
        white-space: unset;
        text-align: center;
    }

    .job-text{
        font-size: 18px;
    }

    .main-indication-container{
        padding-right: 0px;
        /* align-items: center; */
    }
}