body{
    box-sizing: border-box;
    margin: 0;
    background-color: #262E34;
}

.hero-section{
    height: calc(100vh - 100px);
    /* padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px; */
}

.hero-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: end;
}

.portrait-frame{
    position: relative;
    height: 750px;
    width: 550px;
    padding-left: 16px;
}

.portrait-bg-image{
    position: absolute;
    top: 25%;
    width: 90%;
    height: 80%;
    transform: rotate(-10deg);
    opacity: 1;
    z-index: 1;
}

.person-image{
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translateX(-55%);
   filter: drop-shadow(0 10px 25px rgba(0,0,0,0.25));
   width: 100%;
   z-index: 2;
}

.person-image:hover + .portrait-bg-image{
    transform: rotate(0deg);
    opacity: 0.9;
}

.main-indication-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 16px;
}

.logo-main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo{
    width: 52px;
    height: 32px;
}

.main-name{
    font-family: 'MyAnta';
    font-size: 16px;
    color: #F8F5EC;
    font-weight: 400;
}

.job-name{
    font-family: 'MyJosefin';
    font-size: 16px;
    font-weight: 300;
    color: #89BCD9;
}

.main-link-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-icons{
    width: 30px;
    height: 30px;
}

.link-icons:hover{
    cursor: pointer;
}

.logo-container{
    position: relative;
}

.logo-main-frame{
    display: flex;
    justify-content: center;
}

.main-link-frame{
    position: absolute;
    right: 0px;
    bottom: 0;
}

.person-description-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.name-text{
    font-family: 'MyAnta';
    font-size: 80px;
    color: #F8F5EC;
    font-weight: 400;
    white-space: nowrap;
}

.job-text{
    font-family: 'MyJosefin';
    font-size: 40px;
    color: #F8F5EC;
    font-weight: 400;
}

.arrow-down-frame{
    display: flex;
    justify-content: center;
}

.arrow-down-btn{
    padding-top: 100px;
    padding-bottom: 32px;
}

#arrow_down_btn{
    cursor: pointer;
}

nav{
    height: 100px;
    background-color: #89BCD9;
}

@media(max-width:1300px){
    .name-text{
        font-size: 50px;
    }

    .job-text{
        font-size: 24px;
    }
}