
.my-colleagues-section{
    font-family: 'MyJosefin';
    padding-top: 100px;
    max-width: 1990px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.my-colleagues-frame{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0 16px;
}

.caption-container{
    display: flex;
    justify-content: center;
}

.caption-colleagues{
    font-size: 32px;
    font-weight: 400;
    color: #89BCD9;
}

.comment-container{
    height: 410px;
    max-width: 1990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.comment-box{
    color: #F8F5EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 400px;
    height: 400px;
}

.comment-person-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-top: 55px;
}

.comment-name{
    font-size: 26px;
    font-weight: 600;
}

.comment-project-container{
    display: flex;
    gap: 4px;
}

.comment-text{
    font-size: 18px;
    font-weight: 400;
    display: block;
    max-width: 350px;
    line-height: 1.6;
    text-align: center;
}

.comment-description{
    font-size: 18px;
    font-weight: 400;
}

.comment-project{
    font-size: 18px;
    font-weight: 400;
    color: #89BCD9;
}

.comment-bg{
    background-image: url('../assets/img/comment_shape.svg');
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
}

.comment-bg-hover{
    background-image: url('../assets/img/comment_shape_hover.svg');
    width: 400px;
    height: 405px;
    position: absolute;
    top: 0;
}

.comments-linkedIn-link{
    font-size: 16px;
    font-weight: 400;
    color: #89BCD9;
    text-decoration: underline;
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

.comments-linkedIn-link:hover{
    cursor: pointer;
}

.comments-mobile-caption{
    display: none;
}

.comments-mobile-span{
    display: none;
}

@media(max-width:1310px){
    .comment-container{
        max-width: none;
        width: 100%;
        margin: unset;
        justify-content: start;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        cursor: grab;
        user-select: none;
        -webkit-user-select: none;
        scroll-behavior: smooth;
    }

    .comment-container::-webkit-scrollbar{
        display: none;
    }

    .comment-container:active{
        cursor: grabbing;
    }

    .comment-box{
        min-width: 400px;
    }

    .caption-colleagues{
        font-size: 26px;
    }
}

@media(max-width:1000px){
    .my-colleagues-section{
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .my-colleagues-frame{
        padding: 0;
    }

    .caption-colleagues{
        display: none;
    }

    .caption-container{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 16px;
    }

    .comments-mobile-caption{
        display: block;
        font-family: 'MyAnta';
        font-size: 32px;
        font-weight: 400;
        color: #89BCD9;
    }

    .comments-mobile-span{
        display: block;
        font-family: 'MyJosefin';
        font-size: 18px;
        font-weight: 400;
        color: #F8F5EC;
    }

    .comment-name{
        font-size: 24px;
    }

    .comment-text{
        font-size: 16px;
        max-width: 320px;
    }

    .comment-bg{
        background-image: url('../assets/icons/mobile/shape_comment_mobile.svg');
        width: 350px;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .comment-bg-hover{
        background-image: url('../assets/icons/mobile/shape_comment_mobile.svg');
        width: 350px;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .comments-linkedIn-link{
        bottom: 22%;
    }
}

@media(max-width:475px){
    .comment-container{
        height: 280px;
    }

    .comment-name{
        font-size: 18px;
    }

    .comment-description{
        font-size: 16px;
    }

    .comment-project{
        font-size: 16px;
    }

    .comment-text{
        font-size: 14px;
        max-width: 200px;
        max-height: 100px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        z-index: 10;
        cursor: default;
    }

    .comment-text::-webkit-scrollbar{
        display: none;
    }

    .comment-person-box{
        padding-top: 22px;
    }

    .comment-box{
        min-width: 280px;
        gap: 16px;
        height: unset;
    }

    .comment-bg{
        width: 250px;
        height: 250px;
    }

    .comment-bg-hover{
        width: 250px;
        height: 250px;
    }

    .comments-linkedIn-link{
        bottom: 22%;
    }
}