nav{
    height: 100px;
    background-color: #89BCD9;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    max-width: 1920px;
    margin: 0 auto;
}

.nav-link-container{
    display: flex;
    gap: 100px;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo:hover{
    cursor: pointer;
}

.logo-nav-name{
    font-family: 'MyAnta';
    font-weight: 400;
    font-size: 14px;
    color: #F8F5EC;
}

.logo-nav-text{
    font-family: 'MyJosefin';
    font-size: 14px;
    font-weight: 300;
    color: #262E34;
}

.nav-links{
    font-family: 'MyJosefin';
    color: #262E34;
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

.nav-links:hover{
    cursor: pointer;
    color: #F8F5EC;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.link-bg{
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.ellipse{
    background-image: url('../assets/icons/Ellipse\ 24.svg');
    width: 84px;
    height: 56px;
    background-repeat: no-repeat;  
    background-size: cover;  
}

.language-container{
    display: flex;
    gap: 8px;
}

.language-bg{
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-language{
    background-image: url('../assets/icons/Ellipse\ language.svg');
    width: 37px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.language-box{
    font-family: 'MyJosefin';
    font-size: 18px;
    font-weight: 400;
    color: #262E34;
}

.language-box:hover{
    cursor: pointer;
}

.mobile-link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.mobile-language-container{
    height: 28px;
    display: flex;
    gap: 4px;
}

.mobile-link{
    cursor: pointer;
    text-decoration: none;
    font-family: 'MyJosefin';
    font-size: 22px;
    font-weight: 400;
    color: #262E34;
}

.mobile-link:active{
    font-size: 20px;
    color: #F8F5EC;
}

.mobile-language-box{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-language-span{
    cursor: pointer;
    font-family: 'MyJosefin';
    font-size: 18px;
    font-weight: 400;
    color: #262E34;
}

@media(max-width:1000px){
    nav{
        display: none;
    }
}