.why-me-section, .my-skills-section{
    font-family: 'MyJosefin';
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.why-me-frame{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.why-me-container{
    display: flex;
    justify-content: center;
}

.main-line{
    font-family: 'MyAnta';
    font-size: 60px;
    font-weight: 400;
    color: #89BCD9;
}

.description-container{
    display: flex;
    gap: 48px;
}

.city-location-container{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.color-blue{
    padding-left: 4px;
    color: #89BCD9;
    white-space: nowrap;
}

.color-cream{
    color: #F8F5EC;
    white-space: nowrap;
}

.left-border{
    width: 3px;
    height: 30px;
    background-color: #F8F5EC;
    margin-left: 2px;
}

.description-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.description-text{
    font-size: 18px;
    font-weight: 400;
    color: #F8F5EC;
}

.lets-talk-ctrl-box{
    display: flex;
    justify-content: end;
    padding-right: 8px;
}

#lets_talk_btn:hover{
    cursor: pointer;
}

.my-skills-frame{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.my-skills-content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-icon-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon-center{
    width: 85px;
    display: flex;
    justify-content: center;
}

.icon-row{
    display: flex;
    gap: 32px;
}

.actual-learning-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.actual-learning-icon-box{
    display: flex;
    gap: 24px;
}

.learning-bg{
    position: absolute;
    background-image: url('../assets/img/shape_learning.svg');
    width: 391px;
    height: 391px;
    background-repeat: no-repeat;  
    background-size: cover;  
}

.learning-bg-hover{
    position: absolute;
    background-image: url('../assets/img/shape_learning_hover.svg');
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;  
    background-size: cover;  
}

.learning-text{
    color: #F8F5EC;
    display: block;
    max-width: 300px;
    line-height: 1.6;
    text-align: center;

}